


// Scope
.gdm-f--scope {

}

$p-default: .5rem 1rem;


.gdm-f {

	.gdm-f--container {
		display: flex;
	}

}


.gdm-f--item {
	.gdm-f--item--icon,
	.gdm-f--item--name,
	.gdm-f--item--image {
		display: inline-block;
	}
	.gdm-f--item--icon {
		margin-right: .5rem;
	}
}

// Filter scope DROPDOWN
.gdm-f--scope__display-dropdown {

	// ARIA label should be put off
	.gdm-f--scope--label {
		position: absolute;
		width: 0px;
		height: 0px;
		overflow: hidden;
		left: -5000px;
		top: 0;
		clip: rect(0,0);
	}

	// The placeholder
	.gdm-f--scope--placeholder {
		padding: $p-default;
	}

	.gdm-f--list {
		display: none;
	}

	&.gdm-f--scope__expanded {
		.gdm-f--list {
			display: block;
		}
	}

}

// Filter scope INLINE
.gdm-f--scope__display-inline {

	display: flex;

	.gdm-f--scope--label {
		padding: $p-default;
	}

	.gdm-f--scope--placeholder {
		display: none;
	}

	// Style the list
	.gdm-f--list {
		// flex-grow: 1;
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
	}
	.gdm-f--item {
		margin: 0;
		padding: $p-default;
	}

}

.gdm-f--group__label {
	padding: $p-default;
}

// Hide inactive items
.gdm-c--item:not( .gdm-c--item__active ) {
	display: none;
}

// Minimal height for the map
.gdm-m--itself {
	min-height: 400px;
}
